body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

.wrapper {
  width: 1400px;
  margin: 0 auto; }

html {
  font-size: 16px; }

.principal-button {
  text-align: center;
  display: inline;
  border: 2px solid black;
  margin-left: 45%;
  padding: 18px 3% 18px 3%;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }
  .principal-button:hover {
    color: white;
    background-color: black; }

.info-list {
  list-style: none; }

.clearfix {
  content: "";
  clear: both;
  display: table; }

.principal-image img {
  max-width: 100%; }

.principal-image {
  position: relative;
  margin-bottom: 87px; }

.logo img {
  position: absolute;
  width: 10%;
  margin-bottom: 870px;
  left: 14.07%;
  top: 45px; }

.menu a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.90rem;
  position: absolute;
  top: 45px;
  left: 90%;
  text-decoration: none; }
  .menu a:hover {
    border-top: 2px solid white;
    border-bottom: 2px solid white; }

.header-title h1 {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 10rem;
  margin-bottom: 32px;
  color: white;
  letter-spacing: 1.5rem;
  left: 55%;
  top: 100px; }

.header-title p {
  position: absolute;
  color: white;
  letter-spacing: 0.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  left: 55%;
  top: 350px; }

.first-content-info {
  text-align: center; }
  .first-content-info .info-1 {
    margin-bottom: 107px; }
    .first-content-info .info-1 .title-h2 {
      font-weight: normal;
      margin-bottom: 29px; }
    .first-content-info .info-1 h2 {
      font-family: "Raleway", sans-serif;
      font-size: 3rem;
      margin-bottom: 0px; }
    .first-content-info .info-1 p {
      font-size: 1.25rem;
      font-family: "Raleway", sans-serif;
      color: black;
      margin-bottom: 50px; }
  .first-content-info .linea1 {
    height: 2px;
    max-width: 100%;
    background-color: black;
    margin: 0 650px 30px 700px; }
  .first-content-info .info-2 {
    font-size: 1.25rem;
    font: family "Raleway", sans-serif;
    margin-bottom: 70px; }
