.footer{
    background-color: #f3f4f5;
    padding:20px 0;
    display: block;
}
.derechos{
    p{
        font-family:'Raleway', sans-serif;
        font-size: 1rem;
    }
    float: left;
    padding-left:4%;
    margin-right:28%;
}
.logos{
    float: right;
}
.footer-logos a + a {
    margin-left: 1%;
}