.principal-image img{
    max-width:100%;
}
.principal-image{
    position: relative;
    margin-bottom: 87px;
}
.logo img{
    position: absolute;
    width:10%;
    margin-bottom: 870px;
    left:14.07%;
    top: 45px;
}
.menu a{
    color:$blanco;
    font-family:$font2;
    font-weight: bold;
    font-size:0.90rem;
    position: absolute;
    top: 45px;
    left:90%;
    text-decoration: none;
    &:hover{
        border-top: 2px solid $blanco;
        border-bottom: 2px solid $blanco;
    }
}
.header-title{
    h1{
        position: absolute;
        font-family: $font1;
        font-size:10rem;
        margin-bottom:32px;
        color: $blanco;
        letter-spacing:1.5rem;
        left:55%;
        top:100px;
    }
    p{
        position: absolute;
        color: $blanco;
        letter-spacing:0.3rem;
        font-family:$font1;
        font-weight:bold;
        font-size:3rem;
        left:55%;
        top:350px;
    }
}
