@media(max-width:768px){
    .header-title{
        h1{
            padding: 0 0px 0 270px;
            font-size: 5rem;
        }
        p{
            padding: 0 0 0 300px;
            font-size: 1rem;
        }
    }
    .menu a{
        left: 145%;
    }
    .second-content{
        margin-bottom: 1%;
    }
    .sixth-content{
        .info1{
            float: none;
        }
        .info4{
            margin-top: 1%;
            float: none;
        }
    }
}